@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
}
html {
	font: 10px/1.6 Arial, sans-serif;
	height: 100%;
}
body {
	font-size: 1.6rem;
	color: #333;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
header {
	background-color: #afafaf;
	height: 20px;
}
main {
	background-color: #afafaf;
	height: 200px;
	
}
section {
	background-color: green;
	height: 100px;
	width: 30%;
}
main::after {
	clear: both;
}

