@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
}
html {
	font: 10px/1.6 Arial, sans-serif;
	height: 100%;
}
body {
	font-size: 1.6rem;
	color: #333;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
header {
	background-color: #afafaf;
	height: 60px;
}
main {
	background-color: #afafaf;
	height: 100%;
	font-size: 1.2rem;
	padding: 0;
	margin: 0;
}

section {
	background-color: green;
	height: 425px;
	width: 28%;
	margin: 15px;
	padding: 0px;
}
main::after {
	/* clear: both; */
}
h2{
	color: #c2c2c2;
}
ul {
	margin: 0 10px;
	padding: 0;
	color: #c2c2c2;
}

li {
	list-style: none;
	display: inline-block;
	background-color: white;
	width: 280px;
	vertical-align: middle;
	text-align: left;
	border: 1px solid black;
	margin-top: 2px;
}

.people {
	position: absolute;
}
.popular {
	position: relative;
	left: 350px;
	/* top: 20px; */
	position: absolute;
}
.recent {
	position: relative;
	left: 700px;
	top: 15px;
}
.recent h2 {
	padding-top: 15px;
}
.people img {
	border-radius: 25px;
}